

.preloader-container, .save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preloader-container {
  height: 50vh;
}

.save-container {
  height: 100vh;
}

h5 {
  color: #fff;
  text-align: center;
}

.todo-container {
  box-shadow: 0 5px 25px 0 rgba(0,0,0,0.25);
  padding: .5em 0;
  margin-bottom: 1em;
}

.todo {
  font-size: 1.3em;
  cursor: pointer;
}

.completed {
  font-style: italic;
  text-decoration: line-through; 
  font-weight: 350;
}

.has-notes {
  font-weight: 600;
  font-style: italic;
  font-size: 1.15em;
  color: green !important;
}

.flex-container-center {
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0);
}

.collapsible-header {
  background-color: transparent;
  border-bottom: 0;
}

.disabled {
  opacity: .2;
}

@media(max-width: 560px) {
  h4 {
    font-size: 1.75em;
  }
}